<div class="m-2">
<button type="button" class="btn btn-primary" (click)="openModal()">Add Details</button>


    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Details</h4>
                           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                         <label>Date:</label>
                         <input type="text" [(ngModel)]="trackingInfo.date">
                         </div>
                         <div class="modal-body">
                          <label>CompanyName:</label>
                          <input type="text" [(ngModel)]="trackingInfo.companyName">
                          </div>
                          <div class="modal-body">
                            <label>VendorName:</label>
                            <input type="text" [(ngModel)]="trackingInfo.vendorName">
                            </div>
                            <div class="modal-body">
                              <label>EmailID:</label>
                              <input type="text" [(ngModel)]="trackingInfo.emailID">
                              </div>
                              <div class="modal-body">
                                <label>PhoneNumber:</label>
                                <input type="text" [(ngModel)]="trackingInfo.phoneNumber">
                                </div>
                                <div class="modal-body">
                                  <label>implementationPartner:</label>
                                  <input type="text" [(ngModel)]="trackingInfo.implementationPartner">
                                  </div>
                                  <div class="modal-body">
                                    <label>ClientName:</label>
                                    <input type="text" [(ngModel)]="trackingInfo.clientName">
                                    </div>
                                    <div class="modal-body">
                                      <label>PayRateSubmitted:</label>
                                      <input type="text" [(ngModel)]="trackingInfo.payRateSubmitted">
                                      </div>
                                      <div class="modal-body">
                                        <label>status:</label>
                                        <input type="text" [(ngModel)]="trackingInfo.status">
                                        </div>
                                        <div class="modal-body">
                                          <label>leadName:</label>
                                          <input type="text" [(ngModel)]="trackingInfo.leadName">
                                          </div>
                                          
                     <div class="modal-footer">
                        <div class="row">
                            <div class="col-6 col-xs-6 col-lg-6">
                        <button type="button" class="btn btn-success" (click)="filledDetails()" >Submit</button>
                    </div>
                    <div class="col-6 col-xs-6 col-lg-6">
                           <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                         </div>
                        </div>
                     </div>
            </div>
             </div>
 </div>
  

<table class="table table-success table-striped m-3">
    <thead>
      <tr>
        <th scope="col">date</th>
        <th scope="col">companyName</th>
        <th scope="col">vendorName</th>
        <th scope="col">emailID</th>
        <th scope="col">phoneNumber</th>
        <th scope="col">implementationPartner</th>
        <th scope="col">clientName</th>
        <th scope="col">payRateSubmitted</th>
        <th scope="col">status</th>
        <th scope="col">leadName</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {{totalData}}
      <tr *ngFor="let j of totalData">
        <td> {{j.date}} </td>
        <td> {{j.companyName}} </td>
        <td> {{j.vendorName}} </td>
        <td> {{j.emailID}} </td>
        <td> {{j.phoneNumber}} </td>
        <td> {{j.implementationPartner}} </td>
        <td> {{j.payRateSubmitted}} </td>
        <td> {{j.status}} </td>
        <td> {{j.leadName}} </td>



        
        
        <td> <button (click)="editItem(j)" *ngIf="!j.isEditing">Edit</button>   </td>
        <td>  <button (click)="saveItem(j)" *ngIf="j.isEditing">Save</button>   </td>
       
     
    </tr>
    </tbody>
  </table>
</div>

